<h2 mat-dialog-title>{{accionTitle}} User</h2>
<mat-dialog-content>
  <form [formGroup]="formUser">
    <mat-grid-list cols="1" rowHeight="80px">

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput autocomplete="off" formControlName="fullName">
          <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput autocomplete="off" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="idRol">
            <mat-option *ngFor="let item of Rols" [value]="item.idRol">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="isActive">
            <mat-option value="1">Enable</mat-option>
            <mat-option value="0">Disable</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-raised-button
          color="primary"
          [disabled]="formUser.invalid"
          (click)="upsertUser()">
    {{accionBoton}}
  </button>
  <button mat-raised-button mat-dialog-close color="warn">Back</button>

</mat-dialog-actions>
